.signals-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .signals-column-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .signals-column {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
  }
  .div{
    overflow-y: scroll;
    height: 90%;
  }
  .diviol{
    height: 100%;
  }
  .btn{
    justify-content: space-between;
    align-self: center;
    width: 150px;
    align-items: center;
  }

  .row-height{
    height: 100vh;
  }

  .left{
    background-color: bisque;
    height: 100%;
    overflow-y: scroll;
  }
  
  .right{
    background-color: rgb(185, 223, 193);
    height: 100%;
    overflow-y: scroll;
  }


  .mybtns{
    background-color: rgb(41, 87, 87);
    font-weight: bold;
    font-size: medium;
  }

  .mybtns:hover{
      background-color: rgb(211, 192, 48);
  }

  .mybtns:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .navbtns{
    background-color: aquamarine;
    font-weight: bold;
    font-size: medium;
  }

  .navbtns:hover{
    background-color: rgb(39, 86, 95);
  }

  .navbtns:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

  .div{
    text-align: center;
  }

  #di-signals-container, #do-signals-container {
    text-align: left;
  }
  
  .nav-pills {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
  }

.iotable{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.iotable:nth-child(even) {
  background-color: #ebe0e0;
}

iotable:nth-child(even) {
  background-color: #f4f4f4;
}

td {
  border: 1px dotted #999;
}

th, td {
  padding: 15px;
  text-align: left;
}