{% extends "base/base.html" %}
{% block styles %}
<style>
  Cluster{
    background-color: rgb(211, 192, 48);
    font-weight: bold;
    font-size: medium;
  }
  Cluster:hover{
    background-color: rgb(39, 86, 95);
  }
</style>
{% endblock %}
{% block title %}<title>Edit Clusters</title>{% endblock %}
{% block content %}
<div id="create-module" >





  <div>
    <div class="panel-heading d-flex align-items-center">
      <button class="btn btn-primary mt-3 mybtns mr-auto" id="FilterON">
          <span class="glyphicon glyphicon-filter"></span>Click To Apply Filter
      </button>
      <a href="{% url 'create_module'  %}" class="btn mt-3 ml-auto mybtns btn-block btn-secondary">Add New Cluster</a>

  </div>
  <table class="table table-striped">
    <thead>
      <tr>
            <th>ID</th>
            <th>Cluster Name</th>
            <th>Segment</th>
            <th>Created By</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for module in modules %}
          <tr>
            <td>{{ module.id }}</td>
            <td class="Cluster"   >{{ module.module }}</td>
            <td class="Segment"   >{{ module.segment }}</td>
            <td class=""   >{{ module.created_by }}</td>
            <td><button class="button btn-warning" 
              onclick= "location.href='{% url 'edit_module' module_id=module.id  %}'"> Edit Cluster</button>
          </td>
            <td>
                <button class="button btn-danger"  
                data-confirm="Are you sure you want to delete this module?" 
                onclick= "location.href='{% url 'module_delete' id=module.id %}'">Delete Cluster</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endblock %}

