{% extends "base/base.html" %}
{% block styles %}
<style>
  Cluster{
    background-color: rgb(211, 192, 48);
    font-weight: bold;
    font-size: medium;
  }
  Cluster:hover{
    background-color: rgb(39, 86, 95);
  }
</style>
{% endblock %}
{% block content %}
<div id="create-module" style="display:none;">

    <h2>Create Module</h2>
    <form id="create-module-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
  <table class="table table-striped">
    <thead>
      <tr>
            <th>ID</th>
            <th>Cluster Name</th>
            <th>Segment</th>
            <th>Created By</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for module in modules %}
          <tr>
            <td>{{ module.id }}</td>
            <td class="Cluster"   >{{ module.module }}</td>
            <td class="Segment"   >{{ module.segment }}</td>
            <td class="Segment"   >{{ module.created_by }}</td>
            <td><button class="button btn-warning" 
              onclick= "location.href='{% url 'module_edit' id=module.id %}'"> Edit Module</button>
          </td>
            <td>
                <button class="button btn-danger"  
                data-confirm="Are you sure you want to delete this module?" 
                onclick= "location.href='{% url 'module_delete' id=module.id %}'">Delete Module</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endblock %}

