{% comment %} <script type="application/javascript" src="js/table.js" > </script> {% endcomment %}
{% load static %}


<div class="container">
  {% with first_iolist=iolists.first %}
    <a href="{% url 'project_detail' first_iolist.project_id %}" class="btn float-md-none btn-info">Edit IO List</a>
    <a href="{% url 'iolist_project' first_iolist.project_id %}" class="btn float-md-none btn-info">Review IO List</a>
{% endwith %}

    <div class="row" >{{project.name}}
      <div class="col-sm-9 col-xl-10 order-2 order-sm-1 mt-3">
        <h2 class="h6"><strong>Sortable List</strong></h2>
        <div id="sortable" class="  d-flex justify-content-between align-items-center list-group mb-4 mt-3" data-id="1">
          {% if iolists %}
            <div id="tag-form" class= "sortable" >
              {% csrf_token %}             
              <table id="tablesort" class = " table-striped table-success" cellspacing="0" cellpadding="2">
                <thead>
                  <tr>
                    <th>Order</th>
                    <th>Project</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Tag</th>
                    <th>Signal Type</th>
                    <th>Device Type</th>
                    <th>Panel Number</th>
                    <th>Terminal Number</th>
                    <th>Location</th>
                    <th>Cluster</th>
                    <th>Cluster Number</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                  <tbody>
                {% for iolist in iolists %}
                <tr class="item" id="{{forloop.counter}}" data-pk="{{ iolist.pk }}">
                  <input type="hidden" name="iolist_order" value="{{iolist.id}}"/>
                  <td>
                    <a href="#" class="editable order" contenteditable="true" data-pk="{{ iolist.pk }}" data-name="order"
                    hx-get="{% url 'order_update' iolist.pk 'update' %}" hx-swap="outerHTML">{{ iolist.order }}</a>
                  </td>
                  {% comment %} <td>{{ iolist.order }}</td> {% endcomment %}
                  <td>{{ iolist.project }}</td>
                  <td>{{ iolist.name }}</td>
                  <td>{{ iolist.code }}</td>
                  <td>{{ iolist.tag }}</td>
                  <td>{{ iolist.signal_type }}</td>
                  <td>{{ iolist.device_type }}</td>
                  <td>{{ iolist.panel_number }}</td>
                  <td>{{ iolist.terminal_number }}</td>
                  <td>{{ iolist.location }}</td>
                  <td>{{ iolist.Cluster }}</td>
                  <td>
                    <a href="#" class="editable clusternumber" contenteditable="true" data-pk="{{ iolist.pk }}" data-name="cluster_number"
                    hx-get="{% url 'cluster_number_update' iolist.pk 'update' %}" hx-swap="outerHTML">{{ iolist.cluster_number }}</a>
                  </td>
                  
                  {% comment %} <td>{{ iolist.cluster_number }}</td>
                  hx-confirm="Confirm the delete" 
                  hx-delete="{% url 'iolist' iolist.pk 'delete' %}"
                          hx-target="#iolist-list"
                          {% endcomment %}
                  <td>
                    <span class="badge badge-danger badge-pill"
                          style="cursor: pointer;"
                          
                          onclick="deleteSignal({{ iolist.id }})"
                    >X</span>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
          {% else %}
            <p>You do not have any tags in your list</p>
          {% endif %}
        </div>
      </div>
      <div id= 'Sample'>
      </div>
    </div>
  </div>
  


  <script type="text/javascript">
    var csrf = $("input[name=csrfmiddlewaretoken]").val()

    $(document).ready(function() {
      //Editable logic for Cluster Number
        // Listen for changes to the editable cell
      $('a.editable.clusternumber').on('blur', function() {
        // Get the edited value
        var editedValue = $(this).text();
        // Send an HTTP request to update the value on the server-side
        $.ajax({
          url: $(this).attr('hx-get'),
          type: 'POST',
          data: {
            value: editedValue
          },
          success: function(response) {
            // Update the table cell with the new value
            $(this).closest('td').html(response);
          }
        });
      });
//Order  edit
      $('a.editable.order').on('blur', function() {
        // Get the edited value
        var editedValue = $(this).text();
        // Send an HTTP request to update the value on the server-side
        $.ajax({
          url: $(this).attr('hx-get'),
          type: 'POST',
          data: {
            value: editedValue
          },
          success: function(response) {
            // Update the table cell with the new value
            $(this).closest('td').html(response);
          }
        });
      });


      var tbody = $("#tablesort tbody");
      $("#tablesort").tableDnD({
          onDragClass: "table-warning",
          onDrop: function(table, row) {
              var rows = table.tBodies[0].rows;
              var iolistsOrderList = [];
              for (var i = 0; i < rows.length; i++) {
                  var iolistPk = parseInt(rows[i].querySelector('input[name="iolist_order"]').value);
                  iolistsOrderList.push(iolistPk);
              }
              var formData = new FormData();
              formData.append('iolists', iolistsOrderList);
              formData.append('csrfmiddlewaretoken', csrf);
              console.log(iolistsOrderList)
              console.log(rows);
              $.ajax({
                  url: '{% url "sort_IO" %}',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  headers: {"X-CSRFToken": getCookie("csrftoken")},
                  success: function(response) {
                    console.log('IOList order updated successfully');  
                    $('#tag-list').html(response.data);
                    console.log("Updated")
                  },
                  error: function(xhr, status, error) {
                      console.log('Error updating IOList order');
                  }
              });
          }
          
      });
  });
    </script>
