{% comment %} <script type="application/javascript" src="js/table.js" > </script> {% endcomment %}
{% load static %}


<div class="container">
  {% with first_iolist=iolists.first %}
    <a href="{% url 'project_detail' first_iolist.project_id %}" class="btn float-md-none btn-info">Edit IO List</a>
    <span id = "projects" value = "{{ first_iolist.project_id }}" >
    <a href="{% url 'iolist_project' first_iolist.project_id %}" class="btn float-md-none btn-info">Review IO List</a>
{% endwith %}

<div id= "projectrow" class="row" data-project-id="{{ first_iolist.project_id }}">{{project.name}}  
  <div class="col-sm-9 col-xl-10 order-2 order-sm-1 mt-3">
    <h2 class="h6"><strong>Sortable List</strong></h2>
    <div id="sortable" class="  d-flex justify-content-between align-items-center list-group mb-4 mt-3" data-id="1">
      <div class="filter-panel mb-3">
        <div class="card-body">
          <h4 class="card-title">Filters</h4>
          <form id="filter-form">
            <div class="form-group">
              <label for="panel-number">Panel Number:</label>
              <select class="form-control" id="panel-number" name="panel-number">
                <option value="">All</option>
                {% for panel_number in panel_numbers %}
                  <option value="{{ panel_number }}">{{ panel_number }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
          </form>
        </div>
      </div>
      {% if iolists %}
        <div id="tag-form" class="sortable">
          {% csrf_token %}             
          <table id="tablesort" class="table-striped table-success" cellspacing="0" cellpadding="2">
            <thead>
              <tr>
                <th>Order</th>
                <th>Project</th>
                <th>Name</th>
                <th>Code</th>
                <th>Tag</th>
                <th>Signal Type</th>
                <th>Device Type</th>
                <th>Panel Number</th>
                <th>Card Number</th>
                <th>Location</th>
                <th>Cluster</th>
                <th>Cluster Number</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for iolist in iolists %}
                <tr class="item" id="{{ forloop.counter }}" data-pk="{{ iolist.pk }}" data-panel="{{ iolist.panel_number }}">
                  <input type="hidden" name="iolist_order" value="{{ iolist.id }}"/>
                  <td>
                    <a href="#" class="editable order" contenteditable="true" data-pk="{{ iolist.pk }}" data-name="order"
                      hx-get="{% url 'order_update' iolist.pk 'update' %}" hx-swap="outerHTML">{{ iolist.order }}</a>
                  </td>
                  <td>{{ iolist.project }}</td>
                  <td>{{ iolist.name }}</td>
                  <td>{{ iolist.code }}</td>
                  <td>{{ iolist.tag }}</td>
                  <td>{{ iolist.signal_type }}</td>
                  <td>{{ iolist.device_type }}</td>
                  <td>{{ iolist.panel_number }}</td>
                  <td>{{ iolist.module_position }}</td>
                  <td>{{ iolist.location }}</td>
                  <td>{{ iolist.Cluster }}</td>
                  <td>
                    <a href="#" class="editable clusternumber" contenteditable="true" data-pk="{{ iolist.pk }}" data-name="cluster_number"
                      hx-get="{% url 'cluster_number_update' iolist.pk 'update' %}" hx-swap="outerHTML">{{ iolist.cluster_number }}</a>
                  </td>
                  <td>
                    <span class="badge badge-danger badge-pill"
                      style="cursor: pointer;"
                      onclick="deleteSignal({{ iolist.id }})"
                    >X</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>You do not have any tags in your list</p>
      {% endif %}
    </div>
  </div>
  <div

      <div id= 'Sample'>
      </div>
    </div>
  </div>
{% comment %} 
<script>
// Get the select element for panel number filter
const panelNumberSelect = document.querySelector('#panel-number');

// Listen to the change event on the select element
panelNumberSelect.addEventListener('change', (event) => {
  // Get the selected panel number
  const selectedPanelNumber = event.target.value;

  // Construct the query string with panel number parameter
  const queryString = new URLSearchParams({panel_number: selectedPanelNumber}).toString();
  const projectRow = document.querySelector('#projects');
  const projectId = projectRow.getAttribute('value');
  console.log(projectId); // this will print the project ID to the console

  const url = "{% url 'sorting' 0 %}";
  const newUrl = url.replace("0", projectId);
  console.log(newUrl); // this will print the constructed URL to the console

  // Send an AJAX request to fetch the filtered data
  fetch(url, {
    method: 'POST',
    headers: {"X-CSRFToken": getCookie("csrftoken")},
    body: JSON.stringify({panel_number: selectedPanelNumber})
  })
    .then(response => response.text())
    .then(html => {
      // Replace the existing table with the filtered table
      $('#tag-list').html(html);
    })
    .catch(error => {
      console.error(error);
    });
});

  </script> {% endcomment %}


  <script type="text/javascript">
    var csrf = $("input[name=csrfmiddlewaretoken]").val()
    
    $(document).ready(function() {
      //Editable logic for Cluster Number
        // Listen for changes to the editable cell
      $('a.editable.clusternumber').on('blur', function() {
        // Get the edited value
        var editedValue = $(this).text();
        // Send an HTTP request to update the value on the server-side
        $.ajax({
          url: $(this).attr('hx-get'),
          type: 'POST',
          data: {
            value: editedValue
          },
          success: function(response) {
            // Update the table cell with the new value
            $(this).closest('td').html(response);
          }
        });
      });
//Order  edit
      $('a.editable.order').on('blur', function() {
        // Get the edited value
        var editedValue = $(this).text();
        // Send an HTTP request to update the value on the server-side
        $.ajax({
          url: $(this).attr('hx-get'),
          type: 'POST',
          data: {
            value: editedValue
          },
          success: function(response) {
            // Update the table cell with the new value
            $(this).closest('td').html(response);
          }
        });
      });


      var tbody = $("#tablesort tbody");
      $("#tablesort").tableDnD({
          onDragClass: "table-warning",
          onDrop: function(table, row) {
              var rows = table.tBodies[0].rows;
              var iolistsOrderList = [];
              for (var i = 0; i < rows.length; i++) {
                  var iolistPk = parseInt(rows[i].querySelector('input[name="iolist_order"]').value);
                  iolistsOrderList.push(iolistPk);
              }
              var formData = new FormData();
              formData.append('iolists', iolistsOrderList);
              formData.append('csrfmiddlewaretoken', csrf);
              console.log(iolistsOrderList)
              console.log(rows);
              $.ajax({
                  url: '{% url "sort_IO" %}',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  headers: {"X-CSRFToken": getCookie("csrftoken")},
                  success: function(response) {
                    console.log('IOList order updated successfully');  
                   // $('#tag-list').html(response.data);
                    console.log("Updated")
                  },
                  error: function(xhr, status, error) {
                      console.log('Error updating IOList order');
                  }
              });
          }
          
      });
  });
    </script>
