{% extends 'base.html' %}

{% block content %}
  <h1>Create Project</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <script>
    function myFunction() {
      var detailstab = document.getElementById("list-tab");
      detailstab.classList.remove("active");
      var signalstab = document.getElementById("signals-tab");
      signalstab.classList.remove("active");
    }
    window.addEventListener('load', function() {
      myFunction();
    });
  </script>
{% endblock %}
