{% extends "base.html" %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
            <th>ID</th>
            <th>Equipment Code</th>
            <th>Code</th>
            <th>Description</th>
            <th>Function Purpose</th>
            <th>Device Type</th>
            <th>Signal Type</th>
            <th>Remarks</th>
            <th>Segment</th>
            <th>Initial State</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for signal in signals %}
          <tr>
            <td>{{ signal.id }}</td>
            <td class="editable" data-id="{{ signal.id }}" data-name="equipment_code">{{ signal.equipment_code }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="code">{{ signal.code }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="component_description">{{ signal.component_description }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="function_purpose">{{ signal.function_purpose }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="device_type">{{ signal.device_type }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="signal_type">{{ signal.signal_type }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="remarks">{{ signal.remarks }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="segment">{{ signal.segment }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="initial_state">{{ signal.initial_state }}</a></td>
            <td class="editable" data-id="{{ signal.id }}" data-name="location">{{ signal.location }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<script>
    $(document).ready(function(){
        $(document).on("dblclick",".editable", function(){
        var value=$(this).text();
        var input = "<input type='text' class='input-data form-control' value='" + value + "'>";
        $(this).html(input);
        $(this).removeClass('editable');
    });

    $(document).on("blur",".input-data", function(){
        var value=$(this).val();
        var td=$(this).parent("td");
        $(this).remove();
        td.html(value);
        td.addClass("editable");
        var name=td.data("name");
        sendToServer(td.data("id"), value, name);
    });

    $(document).on("keypress",".input-data", function(e){
        var key = e.which;
        if (key==13){
            var value=$(this).val();
            var td=$(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var name=td.data("name");
            sendToServer(td.data("id"), value, name);
        };
    });
    function sendToServer(id, value, name){
        console.log(id);
        console.log(value);
        console.log(name)
        $.ajax({
            url:"update/",
            type:"POST",
            data:{id:id, name:name,value:value},
        })
        .done(function(response){
            console.log(response)
        })
        .fail(function(){
            console.log("Error Occured, Could not update the signal")
        });
    }

});
</script>
  <script>
    function myFunction() {
      var detailstab = document.getElementById("detail-tab");
      detailstab.classList.remove("active");
      var createtab = document.getElementById("create-tab");
      createtab.classList.remove("active");
    }
    window.addEventListener('load', function() {
      myFunction();
    });
  </script>
  {% endblock %}

