{% extends 'base/base.html' %}
{% block title %}<title>Projects List</title>{% endblock %}
{% block content %}
  <h1 class="mb-4">Projects</h1>

  <div class="table-responsive filterable">
    <div class="panel-heading">
      <h3 class="panel-title">
      <button class="btn btn-default btn-secondary btn-xs btn-filter" id= "FilterON"><span class="glyphicon glyphicon-filter"></span>Click To Apply Filter</button>
  </h3>
  </div>
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr  class="filters">
          <th scope="col"><input type="text" class="form-control" placeholder="Sr.No." disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Project Name" disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Description" disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Segment" disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Created By" disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Created At" disabled></th>
          <th scope="col"><input type="text" class="form-control" placeholder="Updated At" disabled></th>
          <th scope="col">Edit IO List</th>
          <th scope="col">Review IO List</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td> {{project.id}} </td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.segment }}</td>
            <td>{{ project.created_by }}</td>
            <td>{{ project.created_at }}</td>
            <td>{{ project.updated_at }}</td>
            <td ><a class ="nav-link active rounded-5 navbtns btn-secondary btn-outline-success"  href="{% url 'project_detail' project_id=project.pk %}">Edit IOList</a></td>
            <td>
              <button class="nav-link active rounded-5 navbtns btn-secondary"  onclick= "location.href='{% url 'iolist' project.id %}'">Review IO List</button></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No projects yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      <p>No.of Rows : <span id="rowcount"></span></p>
  </div>
</div>

<script>
  
    $(document).ready(function() {
    console.log('DataTable Ready')
    $("#rowcount").html($(".filterable tr").length - 1);
  
    // Add a click event listener to the .btn-filter element
    $("#FilterON").click(function() {
      var table = $(this).parents(".filterable");
      var filters = table.find(".filters input");
      var tbody = table.find(".table tbody");
      console.log('DataTable On click ' + table.length + filters.length + tbody.length)
      if (filters.prop("disabled")) {
        // If filters are disabled, enable them and focus on the first input field
        filters.prop("disabled", false);
        filters.first().focus();
      } else {
        // If filters are enabled, clear them and disable them
        filters.val("").prop("disabled", true);
        tbody.find(".no-result").remove();
        tbody.find("tr").show();
      }
  
      // Update the value of #rowcount to reflect the number of rows in the table
      $("#rowcount").html($(".filterable tr").length - 1);
    });
  
    // Listen for keyup events on the filter input fields
    $(".filterable .filters input").keyup(function(event) {
      // Ignore the Tab key
      if (event.keyCode === 9) return;
  
      var input = $(this);
      var value = input.val().toLowerCase();
      var table = input.parents(".filterable");
      var column = table.find(".filters th").index(input.parents("th"));
      var tbody = table.find(".table tbody");
      var rows = tbody.find("tr");
      var matches = rows.filter(function() {
        return $(this).find("td").eq(column).text().toLowerCase().indexOf(value) !== -1;
      });
  
      // Hide rows that don't match the search term and show rows that do match
      rows.hide();
      matches.show();
  
      // If there are no matching rows, add a "No result found" message to the table
      if (matches.length === 0) {
        tbody.prepend('<tr class="no-result text-center"><td colspan="' + table.find(".filters th").length + '">No result found</td></tr>');
      } else {
        tbody.find(".no-result").remove();
      }
  
      // Update the value of #rowcount to reflect the number of visible rows in the table
      $("#rowcount").html(rows.filter(":visible").length - 1);
  
      // Call the checkval() function
      checkval();
    });
  });
  
  // Define the checkval() function
  function checkval() {
    var visibleRows = $("tbody tr:visible").length;
    var message = visibleRows === 1 ? "No result found" : visibleRows - 1;
    $("#rowcount").html(message);
  };
                  
           
</script>
{% endblock %}
