{% extends 'base/base.html' %}


{% block content %}
<div class = "container-fluid">
  <div class = "row row-height">
    <div class="col-md-6 left">

        <h1 id= "projectName">{{ project.name }}</h1>
        <p>{{ project.description }}</p>

        {% load static %}
        <script src="{% static 'js/details.js' %}"></script>
        {% comment %} <form id="module-form" method="post"  data-url="{% url 'get_filtered_signals' %}"> {% endcomment %}
          <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="panel_number">Panel Number</label>
                  <input type="text" name="panel_number" maxlength="50" class="form-control" required="" id="panel_number" value = 'CP01'>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="module_name">Module Name</label>
                  <input type="text" name="name" maxlength="50" class="form-control" required="" id="module_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="module">Select Cluster</label>
                  <select name="module" class="form-control" id="module">
                    {% for module in modules %}
                    <option value="{{ module.id }}">{{ module.module }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </form>

          <div class="divbtn">
          <button class="btn btn-primary mt-3 mybtns" id="add-signals-btn">Add</button>
          <button class="btn btn-primary mt-3 mybtns"  onclick= "location.href='{% url 'iolist' project.id %}'">Review IO List</button></td>
          <span></span>
        {% comment %} </form> {% endcomment %}
          </div>
        <div class="row">
          
          <div class="col-5 offset-1" id="di-signals-container">
            DI Signals
            <!-- The DI signals will be dynamically added here -->
          </div>
          
          <div class="col-5" id="do-signals-container">
            DO Signals
            <!-- The DO signals will be dynamically added here -->
          </div>
        </div>
      </div>
    <div class="col-md-6 right">
      <div class="div">
        <table class="table" id='io-list-table'>
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Module Name</th>
              <th>Code</th>
              <th>Tag</th>
              <th>Signal Type</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for iolist in io_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ iolist.name }}</td>
              <td>{{ iolist.code }}</td>
              <td>{{ iolist.tag }}</td>
              <td>{{ iolist.signal_type }}</td>
              <td>
                {% comment %} <a href="{% url 'edit_iolist' iolist.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_iolist' iolist.id %}" class="btn btn-sm btn-danger">Delete</a> {% endcomment %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">No iolists found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
  console.log("Loading");
  document.getElementById('module').addEventListener('change', function(event) {
    event.preventDefault();
    var module_id = document.getElementById('module').value;
    var url = "{% url 'get_filtered_signals' %}?module=" + module_id;
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    console.log(module_id);
    xhr.onload = function() {
      if (xhr.status === 200) {
        var signals = JSON.parse(xhr.responseText)['signals'];
        console.log(signals);
        var diSignalsContainer = document.getElementById('di-signals-container');
        var doSignalsContainer = document.getElementById('do-signals-container');
        diSignalsContainer.innerHTML = 'DI Signals';
        doSignalsContainer.innerHTML = 'DO Signals';
        if (signals.length > 0) {
          for (var i = 0; i < signals.length; i++) {
            var signal = signals[i];
            var signalItem = document.createElement('div');
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = 'signals';
            checkbox.value = signal['id'];
            if (signal['initial_state'] === true){
              checkbox.checked = true;
            }                        
            signalItem.appendChild(checkbox);
            var label = document.createElement('label');
            label.htmlFor = 'signal-' + signal['id'];
            label.appendChild(document.createTextNode(signal['code']));
            signalItem.appendChild(label);
            if (signal['signal_type'] === 'DI') {
              diSignalsContainer.appendChild(signalItem);
            } else if (signal['signal_type'] === 'DO') {
              doSignalsContainer.appendChild(signalItem);
            }
          }
        } else {
          diSignalsContainer.innerHTML = 'No signals found.';
          doSignalsContainer.innerHTML = 'No signals found.';
        }
      }
    };
    xhr.send();
  });


  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



  document.getElementById('add-signals-btn').addEventListener('click', function(event) {
    event.preventDefault(); // prevent form from submitting normally
    var module_name = $("#module_name").val();
    var selectedSignals = $("input[name='signals']:checked").map(function(){
      return $(this).val();
    }).get();
    console.log(module_name)
    console.log("selecetd signals")
    console.log(selectedSignals)
    console.log("sending request")
    $.ajax({
      type: "POST",
      url: "/add_signals/",
      data: JSON.stringify({'signals': selectedSignals, 'module_name': module_name, 'panel_number': $("#panel_number").val() }),
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      headers: {"X-CSRFToken": getCookie("csrftoken")},
      success: function(response) {
        console.log("Selected signals sent to server.");
        var ioListTable = document.getElementById('io-list-table');
    ioListTable.innerHTML = '';
    var ioListData = JSON.parse(response.data);
    for (var i = 0; i < ioListData.length; i++) {
      var ioListRow = ioListTable.insertRow();
      var ioListFields = ioListData[i].fields;
      ioListRow.insertCell().innerHTML = i+1;
      ioListRow.insertCell().innerHTML = ioListFields['name'];
      ioListRow.insertCell().innerHTML = ioListFields['code'];
      ioListRow.insertCell().innerHTML = ioListFields['tag'];
      ioListRow.insertCell().innerHTML = ioListFields['signal_type'];
    }
  },
      error: function(xhr, status, error) {
        // handle error response
      }
    });
  });

  document.getElementById('export-iolist-btn').addEventListener('click', function(event) {
    xhttp = new XMLHttpRequest();
    var project= document.getElementById("projectName");
    console.log(project.textContent);
    projectName = project.textContent; 
    xhttp.onreadystatechange = function() {
        var a, today;
        if (xhttp.readyState === 4 && xhttp.status === 200) {
            a = document.createElement('a');
            a.href = window.URL.createObjectURL(xhttp.response);
            today = new Date();
            a.download = projectName +"_IO_List_R0"+ ".xls";
            a.style.display = 'none';
            document.body.appendChild(a);
            return a.click();
        }
    };
    xhttp.open("GET", "/toexcel", true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.responseType = 'blob';
    xhttp.send();
});

}
</script>

{% endblock %}
