{% extends 'base/base.html' %}

{% block title %}<title>{{ project.name }} IO List</title>{% endblock %}
{% block content %}
<div class = "container-fluid">
  <div class = "row row-height">
    <div class="col-md-6 left">

        <h1 id= "projectName">{{ project.name }}</h1>
        <p>{{ project.description }}</p>

        {% load static %}
        <script src="{% static 'js/details.js' %}"></script>
        {% comment %} <form id="module-form" method="post"  hx-post= "{% url 'add_signals' %}"
          hx-target= '#IOList' id="contactForm" data-url="{% url 'get_filtered_signals' %}"> {% endcomment %}
          <form method="POST"  name="contactForm" class="contactForm" novalidate="novalidate">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="panel_number">Panel Number</label>
                  <input type="text" name="panel_number" maxlength="50" class="form-control" required="" id="panel_number" value = 'CP01'>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="module_name">Module Name</label>
                  <input type="text" name="name" maxlength="50" class="form-control" required="" id="module_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label" for="module">Select Cluster</label>
                  <select name="module" class="form-control" id="module">
                    {% for module in modules %}
                    <option value="{{ module.id }}">{{ module.module }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          

          <div class="divbtn">
          <input  id="add-signals-btn" class="btn btn-primary mt-3 mybtns" style="cursor: pointer;" value= "Add Signals" >
          <a class="btn btn-primary mt-3 mybtns" style="color:white; cursor: pointer;" onclick= "location.href='{% url 'iolist_project' project.id %}'">Review IO List</a></td>
          <a class="btn btn-primary mt-3 mybtns" style="color:white; cursor: pointer;" onclick= "location.href='{% url 'sorting' project.id %}'">Re-Order IO List</a></td>
          <button id= "HideIO" class="btn btn-primary mt-3 mybtns" style="color:white; cursor: pointer;">Hide IO List</button>
          <span></span>
          </div>
        <div class="row">
          
          <div class="col-5 offset-1 form-group" id="di-signals-container">
            DI Signals
            <!-- The DI signals will be  id="add-signals-btn"  dynamically added here -->
          </div>
          
          <div class="col-5 form-group" id="do-signals-container">
            DO Signals
            <!-- The DO signals will be dynamically added here -->
          </div>
        </div>
      </form>
      </div>
    <div class="col-md-6 right" id= "IOList">
      
          {% include 'projects/iolist_in_add.html' %}
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    document.getElementById('HideIO').addEventListener('click', function(event) {
      event.preventDefault(); 
      var x = document.getElementById("IOList");
      console.log("Hiding");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    });
  };
  
</script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  }) 

  </script>
<script>
  window.onload = function() {
  console.log("Loading");
  document.getElementById('module').addEventListener('change', function(event) {
    event.preventDefault();
    var module_id = document.getElementById('module').value;
    var url = "{% url 'get_filtered_signals' %}?module=" + module_id;
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    console.log(module_id);
    xhr.onload = function() {
      if (xhr.status === 200) {
        var signals = JSON.parse(xhr.responseText)['signals'];
        console.log(signals);
        var diSignalsContainer = document.getElementById('di-signals-container');
        var doSignalsContainer = document.getElementById('do-signals-container');
        diSignalsContainer.innerHTML = 'DI Signals';
        doSignalsContainer.innerHTML = 'DO Signals';
        if (signals.length > 0) {
          for (var i = 0; i < signals.length; i++) {
            var signal = signals[i];
            var signalItem = document.createElement('div');
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = 'signals';
            checkbox.value = signal['id'];
            if (signal['initial_state'] === true){
              checkbox.checked = true;
            }                        
            signalItem.appendChild(checkbox);
            var label = document.createElement('label');
            label.htmlFor = 'signal-' + signal['id'];
            label.appendChild(document.createTextNode(signal['code']));
            signalItem.appendChild(label);
            if (signal['signal_type'] === 'DI') {
              diSignalsContainer.appendChild(signalItem);
            } else if (signal['signal_type'] === 'DO') {
              doSignalsContainer.appendChild(signalItem);
            }
          }
        } else {
          diSignalsContainer.innerHTML = 'No signals found.';
          doSignalsContainer.innerHTML = 'No signals found.';
        }
      }
    };
    xhr.send();
  });

  

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  document.getElementById('add-signals-btn').addEventListener('click', function(event) {
    event.preventDefault(); // prevent form from submitting normally
    var module_name = $("#module_name").val();
    var selectedSignals = $("input[name='signals']:checked").map(function(){
      return $(this).val();
    }).get();
    console.log(module_name)
    console.log("selecetd signals")
    console.log(selectedSignals)
    console.log("sending request")
    $.ajax({
      type: "POST",
      url: "/add_signals/",
      data: JSON.stringify({'signals': selectedSignals, 'module_name': module_name, 'panel_number': $("#panel_number").val() }),
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      headers: {"X-CSRFToken": getCookie("csrftoken")},
      success: function(response) {
        console.log("Selected signals sent to server.");
        $('#IOList').html(response.data);

    
  },
      error: function(xhr, status, error) {
        // handle error response
        console.log('error')
      }
    });
  }); 

}


</script>

{% endblock %}
