{% extends 'base/base.html' %}
{% block title %}<title>DashBoard</title>{% endblock %}
{% block content %}
{% load widget_tweaks %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  // Assuming 'pivot' is a dictionary with the structure {"Carton/Tote Handling": {"project": 1}}
  const pivotData = {{ pivot|safe }};

  const labels = Object.keys(pivotData);
  const datasetData = Object.values(pivotData).map(item => item.project);

  // Function to generate a random color
  const getRandomColor = () => `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 0.7)`;

  // Generate random colors for each data point
  const backgroundColors = Array.from({ length: labels.length }, getRandomColor);
  const borderColors = Array.from({ length: labels.length }, getRandomColor);

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: '# of Projects',
        data: datasetData,
        backgroundColor: backgroundColors,
        borderColor: borderColors,
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}

